<!-- Editable table -->

<div class="row">
  <div class="col-md-2"><button class="btn-success" (click)="on_click()">Create Shedule</button>
  </div>
  <div class="col-md-10">
    <div *ngIf="counter === true" class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Shift Schedule</h3>
      <div class="card-body">
        <div id="table" class="table-editable">
          <span class="table-add float-right mb-3 mr-1">
            <a class="text-success">
              <!-- <mdb-icon fas icon="plus" size="2x"></mdb-icon> -->
            </a>
          </span>
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Shift EST</th>
              <th class="text-center">Monday</th>
              <th class="text-center">Tuesday</th>
              <th class="text-center">Wednesday</th>
              <th class="text-center">Thursday</th>
              <th class="text-center">Friday</th>
              <th class="text-center">Saturday</th>
              <th class="text-center">Sunday</th>
            </tr>
            <tr *ngFor="let shift of shifts;let j=index">
              <td>{{shift}}</td>
              <td>


                <mat-select [(value)]="postObject['monday'][j]" (selectionChange)="selectCar($event)">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let emp of dropDownList; let i = index " [value]="emp">{{emp}}</mat-option>

                </mat-select>

              </td>
              <td>


                <mat-select [(value)]="postObject['tuesday'][j]" (selectionChange)="selectCar($event)">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let emp of dropDownList; let i = index " [value]="emp">{{emp}}</mat-option>

                </mat-select>

              </td>
            
              <td>


                <mat-select [(value)]="postObject['wednesday'][j]" (selectionChange)="selectCar($event)">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let emp of dropDownList; let i = index " [value]="emp">{{emp}}</mat-option>

                </mat-select>

              </td>
              <td>


                <mat-select [(value)]="postObject['thursday'][j]" (selectionChange)="selectCar($event)">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let emp of dropDownList; let i = index " [value]="emp">{{emp}}</mat-option>

                </mat-select>

              </td>
              <td>


                <mat-select [(value)]="postObject['friday'][j]" (selectionChange)="selectCar($event)">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let emp of dropDownList; let i = index " [value]="emp">{{emp}}</mat-option>

                </mat-select>

              </td>
              <td>


                <mat-select [(value)]="postObject['saturday'][j]" (selectionChange)="selectCar($event)">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let emp of dropDownList; let i = index " [value]="emp">{{emp}}</mat-option>

                </mat-select>

              </td>
              <td>


                <mat-select [(value)]="postObject['sunday'][j]" (selectionChange)="selectCar($event)">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let emp of dropDownList; let i = index " [value]="emp">{{emp}}</mat-option>

                </mat-select>

              </td>
           
            </tr>
         
          </table>
        </div>
      </div>
      <div class="col-md-2"><button class="btn btn-success" (click)="save_and_mail()">Send Email</button></div>

      <button class="btn btn-info" onclick="window.print()">Print Schedule</button>
    </div>



  
    <!-- Editable table -->
